// Base style for columns
@mixin col($size) {
	grid-column-start: auto;

	@each $name, $value in $grid-bp {
		@include media($name, mn) {
			$max-size: calc(math.round(calc($value * calc($grid-columns / 100)) * 0.1) / 1px);

			@if ($max-size > $grid-columns) {
				$max-size: $grid-columns;
			}

			@if ($size >= $max-size) {
				@if ($max-size != 0) {
					grid-column-end: span $max-size;
				} @else {
					grid-column-end: span 1;
				}
			} @else {
				grid-column-end: span $size;
			}
		}
	}
}

@mixin offset($type, $size) {
	@if ($type == row) {
		grid-row-start: $size;
	} @else if ($type == col) {
		grid-column-start: $size + 1;
	}
} // offset for columns
